/*
CSS RESET
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Colours and typography
*/

header, footer {
    background-color: #1F2937;
}

button {
    color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

h1 {
    font-size: 56px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

.header-logo {
    font-size: 26px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-links, .info-paragraph{
    font-size: 20px;
    color: #E5E7EB;
}

.info-subtext {
    color: black;
    font-size: 20px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
}

/*
UNIVERSAL STYLES
*/

button {
    margin: 15px 0;
    padding: 8px 36px;
    border: none;
    border-radius: 8px;
}

main {
    width: 60%;
    margin: 0 auto;
}

/*
Header styles
*/
header {
    height: 500px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    width: 60%;
    margin: 0 auto;
}

.header-links{
    display: flex;
}

.header-links p {
    margin: 0 10px;
}

.header-logo, .header-links {
    padding: 0 20px;
}

.header-links p:hover {
    text-decoration: underline;
}

/*
Header Intro styles
*/

.intro-container {
    display: flex;
    height: 350px;
}

.intro {
    margin: 0 auto;
    width: 60%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100%
}

.image-wrapper {
    width: 48%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.intro-info {
    width: 48%;
    margin: 0 auto;
}

.image-wrapper, .intro-info {
    padding: 0 20px;
}


/*
INFO SECTION
*/

.info-section {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding: 50px 0;
}

.info-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.info-wrapper {
    width: 24%;
    text-align: center;
}

.info-box {
    height: 160px;
    width: 160px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin: 0 auto;
}

.info-subtext {
    margin-top: 10px;
    padding: 0 20px;
}